body {
  background: linear-gradient(to right, #b3ffab, #12fff7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input, textarea {
  outline: none;
}

.bloc-header {
  text-align: center;
}

.main {
  text-align: center;
}

.btn {
  margin-left: 5px;
}

